header {
  background-color: black;

  .region-header {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr 1fr 1fr;
    align-items: center;
    height: 64px;
    margin: 0 auto;

    .site-logo {
      img {
        height: 37px;
      }
    }

    .main__navigation {
      .main-menu {
        display: flex;

        .main-menu__item {
          margin-right: 45px;

          a {
            font-size: 18px;
            text-transform: uppercase;
          }
        }
      }


    }

    .header-search {
      color: white;

      i {
        font-size: 25px;
      }
    }

    &__burger-menu {
      display: none;
    }

  }
}

@media (max-width: 768px) {
  header {
    .region-header {
      .site-logo {
        img {
          height: 30px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  header {
    .region-header {
      display: flex;
      flex-direction: column;
      height: 285px;
      justify-items: center;

      #block-sitebranding-2 {
        padding-top: 30px;

        .site-logo {
          position: relative;

          img {
            height: 50px;
          }
        }
      }

      .main__navigation {
        position: absolute;
        top: 125px;
        left: 7px;

        .main-menu {
          flex-direction: column;

          .main-menu__item {
            padding: 20px;

            a {
              font-size: 25px;
            }
          }
        }
      }

      &__burger-menu {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
