header {
  background-color: black;


  .region-header {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr 1fr 1fr;
    align-items: center;
    height: 64px;
    margin: 0 auto;

    .site-logo {
      img {
        height: 37px;
      }
    }

    .main__navigation {
      .main-menu {
        display: flex;

        .main-menu__item {
          margin-right: 45px;

          a {
            font-size: 18px;
            text-transform: uppercase;
          }
        }
      }


    }

    .header-search {
      color: white;

      i {
        font-size: 25px;
      }
    }

  }
}

@media (max-width: 768px) {
  header {
    .region-header {
      .site-logo {
        img {
          height: 30px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  header {
    .region-header {
      display: flex;
      height: 100%;
      justify-items: center;


      .site-logo {
        display: none;
      }

      .main__navigation {
        .main-menu {
          flex-direction: column;

          .main-menu__item {
            padding: 20px;

            a {
              font-size: 25px;
            }
          }
        }
      }

      .header-cart,
      .header-account,
      .header-search {
        display: none;
      }

    }
  }
}
