.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 25px 25px 1fr 1fr;
  grid-template-areas: "variation-title variation-title"
                       "rating rating"
                       "images variation"
                       "similar-products similar-products";

  &__variation-title {
    grid-area: variation-title;
  }
  &__rating {
    grid-area: rating;
  }
  &__images {
    grid-area: images;
  }
  &__variation {
    grid-area: variation;
  }
  &__similar-products {
    grid-area: similar-products;
    display: flex;
    flex-direction: column;
    .similar-products__label {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .similar-products__items {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}

