.e1, .e2, .e3, .e4 {
  color: white;
}
.e1 {
  background-color: black;
}
.e2 {
  background-color: red;
}
.e3 {
  background-color: green;
}
.e4 {
  background-color: grey;
}
.inline__item {

}
.block-size {
  width: 600px;
  background-color: grey;
  color: white;
  box-sizing: border-box;
  padding: 15px;
}
.img img{
  width: 300px;
}
.fon {
  background-image: url(ok.png);
  background-size: 30px;
  background-repeat: no-repeat;
}
.position {
  position: relative;
}
.position .dot {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.m1 {
  margin-bottom: 10px;
}
