<div class="similar-product_image">
  {{- product_variation.field_image_to_card -}}
</div>
<div class="similar-product_title">
  {{- product_variation.title -}}
</div>
<div class="similar-product_price">
  {{- product_variation.price -}}
</div>
{{ product_variation.product_id.0 }}
