<div class="header-cart">
    <a href="{{ url }}">
      <i class="icon-shop"></i>
      {% if count != 0 %}
      <span class="header-cart__count">{{ count }}</span>
      {% endif %}
    </a>
</div>
