{% if breadcrumb %}
  <div class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
    <ul>
      {% for item in breadcrumb %}
        <li>
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.text }}</a>
          {% else %}
            {{ item.text }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
