{% if is_active %}
    <div class=" facet-active facet-item__value" style="background-color: {{ value }}"></div>
  {% else %}
    <div class="facet-item__value" style="background-color: {{ value }}"></div>
{% endif %}

