/* GRID */
.grid {
  display: grid;
  background-color: #f1a899;
  font-size: 30px;
  padding: 5px;
  color: #fff;
  margin: 5px 0;
}
.inline-grid {
  display: inline-grid;
  background-color: #cb6161;
  font-size: 30px;
  padding: 5px;
  color: #fff;
  margin: 5px 0;
}

/* GRID LAYOUT */
.grid-list {
  display: grid;
  grid-template-columns: 1fr; /*1px 1% 1fr 0.1fr  minmax(150px, 1fr) auto fit-content(100px) repeat(3, 1fr)*/
  grid-template-rows: 1fr; /*1px 1% 1fr  0.1fr */
}
.grid-list__item {
  text-align: center;
  border: 2px dashed #000;
  padding: 30px;
}

/* GRID AREA */
.grid-area {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "header header" "site_bar content" "footer footer";
}
.grid-area__header,
.grid-list__site_bar,
.grid-list__content,
.grid-list__footer {
  border: 2px dashed #000;
  padding: 30px;
}
.grid-area__header {
  grid-area: header;
}
.grid-list__site_bar {
  grid-area: site_bar;
}
.grid-list__content {
  grid-area: content;
}
.grid-list__footer {
  grid-area: footer;
}
